body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-header{
    background-color: aqua;
}
.main-section{
    background-color: rgb(182, 182, 14);
}
.secondary{
    color: green;
}
span1{
    background-color: blueviolet;
}
span2{
     color: blueviolet;
}